<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation d'inscription</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/minified/core.min.css" rel="stylesheet" type="text/css">
        <link href="css/minified/components.min.css" rel="stylesheet" type="text/css">
        <link href="css/minified/colors.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <h1>Confirmation d'inscription</h1>

        <p>Bienvenue à toi <b><%= prenom +' '+ nom %></b> !</p>

        <p>
            <a href="/home">Accueil</a>
        </p>
    </body>
</html>